.scoreboard-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 6vh 3vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: transparent;
    gap: 0.5rem;
    background: url("../../assets/background.png") no-repeat center center fixed;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: "Roboto", system-ui;
}

.scoreboard-title-container {
	/* width: 100%; */
	/* padding: 30px 0; */
	text-align: center;
	/* background-color: red;	 */
}

.scoreboard-title {
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    line-height: normal;
    color: black;

    /* display: flex;
    width: 20rem;
    height: 1rem; 
    flex-direction: column;
    justify-content: center; */
}

.logo {
	/* background-color: red; */
	position: fixed;
	height: 7%;
	top: 5%;
	left: 20%;
}

.scoreboard-timer {
	/* padding-bottom: 80px;
	padding-right: 10px; */
	position: fixed;
	right: 0;
	top: 0;
	padding: 3rem;
	z-index: 9999;
	font-size: 5rem;
	font-weight: bold;
	color: #00196E;
	background-color: #CEEDF6;
	border-radius: 6rem;
	border: 3px solid #00196E;
}

.scoreboard-table-container {
	/* background-color: red; */
	width: 85%;
	/* max-height: 5vh; */
	/* max-width: 1200px; */
	/* overflow-x: auto; */
	backdrop-filter: blur(8px);
	border-radius: 2rem;
	padding: 1rem;
}

.loading-container {
	color: black;
	font-size: 24px;
	text-align: center;
	margin-top: 50px;
}

/* @keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
}

.scoreboard-title {
	animation: blink 2s infinite;
} */

/* .scoreboard-table {
	border-spacing: 0.5rem;
	max-height: 100%;
}

th {
	background-color: #00196E;
	padding: 1rem 0.5rem;
	border-radius: 0.5rem;
	
	color: white;
}

td {
	background-color: #E8C548;
	border-radius: 0.5rem;
	margin: 0.5rem 0.5rem;
	color: black;
	font-weight: 700;
	line-height: normal;
}  */