.scoreboard-table {
	width: 100%;
	max-height: 100%;
	border-spacing: 2rem 1rem;

}

.header-row th {
	padding: 0.5rem 0.25rem;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #242B68;
	color: white;
	border-radius: 1rem;
	line-height: 150%;
}

.team-row {
	/* text-transform: uppercase; */
	color: #242B68;
}

.team-row td {
	background-color: #FBAD22;
	padding: 0.5rem 0.25rem;
	text-align: center;
	font-size: 1.2rem;
	line-height: 150%;
	font-weight: 600;
	border-radius: 1rem;
}

.rank-cell {
	width: 10%;
}

.team-cell {
	width: 60%;
}

.score-cell {
	width: 10%;
}

.answer-cell {
	width: 15%;
}